/* Inline images */
.nested-img img {
    width: initial;
    display: initial;
}

/* Justify pages */
article p, article li {
    text-align: justify;
}

/* Hide "PAGE" header */
header > p.f6 {
    display: none;
}

/* Hide recent pages on front page */
main > article + div {
    display: none;
}

/* Larger text */
.mw7, .mw8, .measure-wide {
    max-width: 100%;
}
