<!-- we hijack social-follow.html to add a form to the navigation bar -->
<form action="{{ "search/" | absURL }}">
  <label for="search-query"><span aria-hidden="true">🔎</span></label>
  <input id="search-query" name="s"/ aria-label="Search" placeholder="search">
</form>
